*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app
{
  display: flex;
}
.create
{
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: center;
  text-align: center;
}
.show
{
  display: flex;
  flex-direction: column;
  width: 70vw;
}
.training
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.training h1
{
  margin-bottom: 1vh;
}
.exercise
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.exercise img
{
  width: 15%;
}